@import url("https://fonts.googleapis.com/css?family=Inter:500,600|Newsreader:400");


/* Responsive */
@media(max-width: 475px){
    #kolmenu{
        /* background-color: yellow; */
    }
}

/* HOME */
#kolmenu{
    width:100%;
}

/* Navbar */

/* .nav-item :hover{
    scale: 1.1;
} */
.btn{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.nav-item a{
    padding-left: 20px;
}

.nav-item.active .nav-link{
    background-color: #7b551c8e;
    color:white;
    border-radius: 10px;
}

/* Menu */
.row .card{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin:1vh;
    width:15rem;
    border :none;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.8);
}

.row .card .card-img-top{
    width: 240px;
    height: 200px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #9d794234;
    
}

.row .card .card-title{
    display: flex;
    justify-content: space-between;
    background-color: #9d794291;
    padding : 10px;
}

.card .card-title a{
    color :white;
    background-color: #7B551C;
    transition: transform 0.3s;
}

.card .card-title a:hover{
    transform: scale (1.2);
}

.row .card .card-title .card-price{
    padding-top: 20px;
    color : white;
}

/* Navbar Ketika Discroll */
.navbar {
    transition: background-color 0.8s ease;
    /* background-color: #7b551c84; */
}
  
.navbar-scrolled{
    background-color: #b59a70;
    transition: background-color 0.3s ease; 
    /* color:white; */
}

/* .navbar-scrolled a{
    color:white;
} */

/* Profile */

.profile .pict{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.profile button{
    color: white;
    width : 110vh;
    border: none;
    padding: 2vh;
    margin: 2vh;
    /* background-color: #A07C45; */
    border-radius: 10px;
}

.profile button span{
    margin: 10vh;
}

.profile .row{
    transition: transform 0.3s;
}

.profile .row :hover{
    scale : 1.1;
}

/* Shopping-Cart */
.shopping-card{
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center center; 
    padding: 20px;
}

.card-body2{
    margin-top: 50vh;
    color: rgb(255, 255, 255);
    background: #3322075b; 
}

.card-title2{
    padding: 20px;
}

.card-content{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background: white;
}

.card-content label, button{
    color:white;
    background: #865711ca;
    border: none;
    border-radius: 10px;
    width : 30vh;
    padding : 2vh;
    margin : 5vh;
}

/* Cart */
/* .checkout-button :hover{
    scale : 1.2;
} */

  
  





